@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #042F2E;
    --font: 'Montserrat', sans-serif;
    --green: #0D9491;
    --white: #F0FDFA;
}